$color-bg: #283c50;
$color-bg-dark: #152e38;
$color-bg-light: #303030;

$color-light-1: #fff;
$color-light-2: #bdddff;

$color-violet: #7b27ca;
$color-violet-light: #b96eff;

$gradient: linear-gradient(to right bottom, $color-bg, $color-bg-light);

$bp-large: 78.15em; // 1250px
// $bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  // font-size: 62.5%;
  font-size: 100%;

  @media only screen and (max-width: $bp-small) {
    font-size: 80%;
  }
}

body {
  font-family: "Cinzel", sans-serif;
  font-weight: 600;
  line-height: 1.6;
  color: $color-light-1;
  background-image: $gradient;
  background-size: cover;
  background-repeat: no-repeat;
  // min-height: 100vh ;
  min-height: calc(100vh - 2 * 4vw);
}

a:link,
a:visited {
  color: $color-light-2;
}

.container {
  max-width: 80rem;
  min-height: 44rem;
  margin: 4vw auto;
  background-color: $color-bg-dark;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 1rem 4rem 0.4rem rgba($color-light-1, 0.2);

  @media only screen and (max-width: $bp-large) {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.heading-4 {
  color: $color-violet-light;
  font-style: italic;
  margin-top: 1rem;
}

.heading-5 {
  font-size: inherit;
}

.btn {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  background-color: $color-bg;
  color: $color-light-1;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 2rem;
  width: fit-content;
  align-self: center;

  &:hover {
    background-color: $color-light-1;
    color: $color-bg-dark;
    box-shadow: 0.2rem 0.3rem 1rem rgba($color-light-1, 0.2);
  }

  &:focus {
    box-shadow: 0.1rem 0.2rem 1rem rgba($color-light-1, 0.2);
  }
}
