$color-bg: #283c50;
$color-bg-dark: #152e38;
$color-bg-light: #303030;

$color-light-1: #fff; // Light background
$color-light-2: #bdddff; // Light lines

$gradient: linear-gradient(to right bottom, $color-bg, $color-bg-light);

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none;
}

html {
  box-sizing: border-box;
    // font-size: 62.5%;
  font-size: 100%;

  // @media only screen and (max-width: $bp-medium) {
  //   font-size: 50%;
  // }
}

body {
  font-family: "Cinzel", sans-serif;
  font-weight: 600;
  line-height: 1.6;
  color: $color-light-1;
  background-image: $gradient;
  background-size: cover;
  background-repeat: no-repeat;
  // min-height: 100vh ;
  min-height: calc(100vh - 2 * 4vw);
}

a:link,
a:visited {
  color: $color-light-2;
}

.container {
  max-width: 80rem;
  min-height: 44rem;
  margin: 4vw auto;
  background-color: $color-bg-dark;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 1rem 4rem 0.4rem rgba($color-light-1, 0.2);

  @media only screen and (max-width: $bp-large) {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}
