$color-bg: #283c50;
$color-bg-dark: #152e38;
$color-bg-light: #303030;

$color-light-1: #fff;
$color-light-2: #bdddff;

$color-violet: #7b27ca;
$color-violet-light: #b96eff;

$gradient: linear-gradient(to right bottom, $color-bg, $color-bg-light);

$bp-large: 78.15em; // 1250px
// $bp-small: 37.5em; // 600px
$bp-small: 48em; // 768px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 100%;

  @media only screen and (max-width: $bp-small) {
    font-size: 80%;
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 60%;
  }
}

body {
  font-family: "Cinzel", sans-serif;
  font-weight: 600;
  line-height: 1.6;
  color: $color-light-1;
  background-image: $gradient;
  background-repeat: no-repeat;
  min-height: 100vh;

  background-image: url(../img/pic1.jpg);
  background-size: cover;
  background-position: center;

  @media only screen and (max-width: $bp-small) {
    min-height: 100vh;
  }
}

a:link,
a:visited {
  color: $color-light-2;
}

.container {
  position: relative;
  max-width: 80rem;
  min-height: 44rem;
  margin: 4vh auto;
  background-color: $color-bg-dark;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 1rem 4rem 0.4rem rgba($color-light-1, 0.2);

  @media only screen and (max-width: $bp-small) {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }

  @media only screen and (max-width: $bp-smallest) {
    height: 100dvh;
  }
}

.heading-4 {
  color: $color-violet-light;
  font-style: italic;
  margin-top: 1rem;
}

.heading-5 {
  font-size: inherit;
}
