.header {
  .nav {
    display: flex;
    justify-content: center;

    &__link {
      padding: 1rem;
      font-size: 2rem;
      text-transform: uppercase;
      transition: all 0.3s;

      &:hover,
      &:focus {
        background-color: $color-violet;
      }
    }
    .active {
      transform: scaleX(1.08);
      box-shadow: 0 0.5rem 3rem 0.5rem rgba($color-violet, 0.25);
      background-color: $color-violet;
      border-radius: 5px;
    }
  }
}
