.header {
  .nav {
    display: flex;
    //   align-items: center;
    justify-content: center;

    &__link {
      padding: 1rem;
      font-size: 2rem;

      &:hover,
      &:focus {
        // outline: none;
        background-color: #7b27ca;
        transform: translateX(-5px);
        transition: all 0.6s;
      }
    }
    .active {
      background-color: #7b27ca;
      transform: translateX(-5px);
    }
  }
}
