#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .search {
    display: flex;
    justify-content: center;
    width: 100%;

    &__field {
      border-radius: 9px;
      padding: 1rem;
      width: 55%;
      transition: width 0.6s;
      margin: 1rem;
      font-family: "Cinzel";
      font-size: inherit;
      font-weight: bold;
      border: none;

      &:focus {
        width: 80%;
        outline: none;

        transition: all 0.6s;
      }
    }
  }

  .data {
    margin: 2rem 1rem 3rem;

    .heading-3 {
      text-align: center;
      margin-bottom: 1rem;
      border-bottom: solid 1px $color-light-1;
    }

    .item {
      a {
        &:hover {
          font-style: italic;
          text-shadow: 0.2rem 0.2rem 0.5rem rgba($color-light-1, 0.4);
        }
      }
    }
  }
}
