* {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 80%;
  }
}
@media only screen and (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Cinzel", sans-serif;
  font-weight: 600;
  line-height: 1.6;
  color: #fff;
  background-image: linear-gradient(to right bottom, #283c50, #303030);
  background-repeat: no-repeat;
  min-height: calc(100vh - 8vw);
  background-image: url(../img/pic1.jpg);
  background-size: 170%;
  background-position: center;
}
@media only screen and (max-width: 37.5em) {
  body {
    min-height: 100vh;
  }
}

a:link,
a:visited {
  color: #bdddff;
}

.container {
  position: relative;
  max-width: 80rem;
  min-height: 44rem;
  margin: 4vw auto;
  background-color: #152e38;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 1rem 4rem 0.4rem rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 78.15em) {
  .container {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.heading-4 {
  color: #b96eff;
  font-style: italic;
  margin-top: 1rem;
}

.heading-5 {
  font-size: inherit;
}

.btn {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  background-color: #283c50;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 2rem;
  width: fit-content;
  align-self: center;
}
.btn:hover {
  background-color: #fff;
  color: #152e38;
  box-shadow: 0.2rem 0.3rem 0.5rem rgba(255, 255, 255, 0.3);
}
.btn:focus {
  box-shadow: 0.1rem 0.2rem 0.5rem rgba(255, 255, 255, 0.2);
}

.header .nav {
  display: flex;
  justify-content: center;
}
.header .nav__link {
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  transition: all 0.3s;
}
.header .nav__link:hover, .header .nav__link:focus {
  background-color: #7b27ca;
}
.header .nav .active {
  transform: scaleX(1.08);
  box-shadow: 0 0.5rem 3rem 0.5rem rgba(123, 39, 202, 0.25);
  background-color: #7b27ca;
  border-radius: 5px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#app .search {
  display: flex;
  justify-content: center;
  width: 100%;
}
#app .search__field {
  border-radius: 9px;
  padding: 1rem;
  width: 55%;
  margin: 1rem;
  font-family: "Cinzel";
  font-size: inherit;
  font-weight: bold;
  border: none;
  transition: width 0.5s;
}
#app .search__field:focus {
  width: 80%;
  outline: none;
}
#app .data {
  margin: 2rem 1rem 3rem;
  display: flex;
  flex-direction: column;
}
#app .data .heading-3 {
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: solid 1px #fff;
  background-color: rgba(48, 48, 48, 0.5);
  font-style: italic;
}
#app .data .item {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}
#app .data .item__name {
  width: 12rem;
}
#app .data .item__name a:hover {
  font-style: italic;
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(255, 255, 255, 0.4);
  color: #b96eff;
}